{% extends 'base.html' %} 
{% load static %}

{% block title %} MainPage {% endblock %} 

{% block content %}
<!-- page container area start -->
<!-- page container area start -->
<div class="page-container">
  <!-- sidebar menu area start -->
  <div class="sidebar-menu">
    <div class="sidebar-header">
      <div class="logo">
        <a href="index.html"
          ><img src="{% static 'assets/images/icon/logo.png' %}" alt="logo"
        /></a>
      </div>
    </div>
    <div class="main-menu">
      <div class="menu-inner">
        <nav>
          <ul class="metismenu" id="menu">
            <li class="active">
              <a href="{% url 'site' %}"
                ><i class="ti-dashboard"></i><span>dashboard</span></a>
            </li>
            <li>
              <a href="javascript:void(0)" aria-expanded="true"
                ><i class="fa fa-users"></i>
                <span>Users</span></a
              >
              <ul class="collapse">
                <li><a href="#">
                  <i class="fa fa-user-plus"></i>
                  <span>Create User</span></a>
                </li>
                <li><a href="#">
                  <i class="fa fa-list"></i>
                  <span>User list</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" aria-expanded="true"
                ><i class="fa fa-align-left"></i>
                <span>Multi level menu</span></a
              >
              <ul class="collapse">
                <li><a href="#">Item level (1)</a></li>
                <li><a href="#">Item level (1)</a></li>
                <li>
                  <a href="#" aria-expanded="true">Item level (1)</a>
                  <ul class="collapse">
                    <li><a href="#">Item level (2)</a></li>
                    <li><a href="#">Item level (2)</a></li>
                    <li><a href="#">Item level (2)</a></li>
                  </ul>
                </li>
                <li><a href="#">Item level (1)</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- sidebar menu area end -->
  <div class="container">
    <!-- main content area start -->
    <div class="main-content">
      <!-- header area start -->
      <div class="header-area">
        <div class="row align-items-center">
          <!-- nav and search button -->
          <div class="col-md-6 col-sm-8 clearfix">
            <div class="nav-btn pull-left">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="search-box pull-left">
              <form action="#">
                <input
                  type="text"
                  name="search"
                  placeholder="Search..."
                  required
                />
                <i class="ti-search"></i>
              </form>
            </div>
          </div>
          <!-- profile info & task notification -->
          <div class="col-md-6 col-sm-4 clearfix">
            <div class="user-profile pull-right">
              <img
                class="avatar user-thumb"
                src="{% static 'assets/images/author/avatar.png' %}"
                alt="avatar"
              />
              <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
                {{ user.first_name }} {{ user.last_name }}<i class="fa fa-angle-down"></i>
              </h4>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Message</a>
                <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- header area end -->
      <!-- page title area start -->
      <div class="page-title-area">
        <div class="row align-items-center">
          <div class="col-sm-6 mt-4 mb-4">
            <div class="breadcrumbs-area clearfix">
              <h4 class="page-title pull-left">Dashboard</h4>
              <ul class="breadcrumbs pull-left">
                <li><a href="index.html">Home</a></li>
                <li><span>Dashboard</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <!-- page title area end -->
        <div class="main-content-inner">
        <div class="row">
            <!-- seo fact area start -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3 mt-4 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg1">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="ti-thumb-up"></i> Likes</div>
                                    <h2>2,315</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-md-4 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg2">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                    <div class="seofct-icon"><i class="ti-share"></i> Share</div>
                                    <h2>3,984</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4 mb-3 mb-lg-0">
                        <div class="card">
                            <div class="seo-fact sbg3">
                              <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon"><i class="ti-heart"></i> Impressions</div>
                                <h2>2,315</h2>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4 mb-3">
                        <div class="card">
                            <div class="seo-fact sbg4">
                                <div class="p-4 d-flex justify-content-between align-items-center">
                                  <div class="seofct-icon"><i class="ti-user"></i> New Users</div>
                                  <h2>2,315</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- testimonial area start -->
            <div class="col-xl-7 col-lg-12 mt-5">
                <div class="card">
                    <div class="card-body bg1">
                        <h4 class="header-title text-white">Client Feadback</h4>
                        <div class="testimonial-carousel owl-carousel">
                            <div class="tst-item">
                                <div class="tstu-img">
                                    <img src="{% static 'assets/images/team/team-author1.jpg' %}" alt="author image">
                                </div>
                                <div class="tstu-content">
                                    <h4 class="tstu-name">Abel Franecki</h4>
                                    <span class="profsn">Designer</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum ut nihil numquam a aliquam alias necessitatibus ipsa soluta quam!</p>
                                </div>
                            </div>
                            <div class="tst-item">
                                <div class="tstu-img">
                                    <img src="{% static 'assets/images/team/team-author2.jpg' %}" alt="author image">
                                </div>
                                <div class="tstu-content">
                                    <h4 class="tstu-name">Abel Franecki</h4>
                                    <span class="profsn">Designer</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum ut nihil numquam a aliquam alias necessitatibus ipsa soluta quam!</p>
                                </div>
                            </div>
                            <div class="tst-item">
                                <div class="tstu-img">
                                    <img src="{% static 'assets/images/team/team-author3.jpg' %}" alt="author image">
                                </div>
                                <div class="tstu-content">
                                    <h4 class="tstu-name">Abel Franecki</h4>
                                    <span class="profsn">Designer</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laborum ut nihil numquam a aliquam alias necessitatibus ipsa soluta quam!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- testimonial area end -->
        </div>
    </div>
</div>
<!-- main content area end -->
<!-- footer area start-->
<footer>
    <div class="footer-area">
        <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
    </div>
</footer>
<!-- footer area end-->
</div>
<!-- page container area end -->
</div>
</div>
  {% endblock %}
