{% extends "base.html" %} 

{% block title %} Recover Password {% endblock %} 

{% block content %}

<div class="login-area">
  <div class="container">
    {% if form.subject.errors %}
    <ol>
      {% for error in form.subject.errors %}
      <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
    {% endif %} 
    {% if messages %}
    <div class="alert alert-info text-center" role="alert">
      {% for message in messages %}
      <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}
        >{{ message }}</strong
      >
      {% endfor %}
    </div>
    {% endif %}
    <div class="login-box ptb--100">
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="login-form-head">
          <h4>Reset Password</h4>
        </div>
        <div class="login-form-body">
          <div class="form-gp">
            <label for="exampleInputPassword1">Old Password</label>
            {{ form.old_password }}
            <i class="ti-lock"></i>
          </div>
          <div class="form-gp">
            <label for="exampleInputPassword2">New Password</label>
            {{ form.new_password1 }}
            <i class="ti-lock"></i>
          </div>
          <div class="form-gp">
            <label for="exampleInputPassword2">Confirm Password</label>
            {{ form.new_password2 }}
            <i class="ti-lock"></i>
          </div>
          <div class="submit-btn-area mt-5">
            <button id="form_submit" type="submit">
              Reset <i class="ti-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- login area end -->

{% endblock %}
